asgiref==3.4.1
astroid==2.6.2
backports.entry-points-selectable==1.1.0
colorama==0.4.4
distlib==0.3.2
Django==3.2.7
filelock==3.0.12
isort==5.9.2
lazy-object-proxy==1.6.0
mccabe==0.6.1
Pillow==8.3.2
platformdirs==2.2.0
pylint==2.9.3
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
virtualenv==20.7.0
wrapt==1.12.1
